body{
    background-color:  #E5E5E5;
}
.App{
    width: 375px;
    height: 812px;
    background-color: #eeecec;
    margin: auto;
    padding: 30px;
}
.display{
    font-size: 130px;
    font-family: "Chathura";
    font-style: normal;
    font-weight: normal;
    color: "#212638";
    text-align: right;
}
.buttons{
    display:grid;
    grid-gap:20px;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(4,1fr);


}